<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="uap10.0" />
  <package id="Microsoft.NETCore.UniversalWindowsPlatform" version="5.2.2" targetFramework="uap10.0" />
  <package id="SkiaSharp" version="1.55.1" targetFramework="uap10.0" />
  <package id="Xamarin.Forms" version="2.4.0.266-pre1" targetFramework="uap10.0" />
</packages>