<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETCore.UniversalWindowsPlatform" version="5.4.0" targetFramework="uap10.0" />
  <package id="SkiaSharp" version="1.60.0" targetFramework="uap10.0" />
  <package id="Xamarin.Forms" version="2.5.0.91635" targetFramework="uap10.0" />
</packages>